* {
    margin: 0;
    padding: 0;
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 255px;
    border-right: #e0e0e0 1px solid;
    height: 100vh;
}

.mini-calendar {
    padding: 16px 19px 16px 19px;
    border-bottom: #e0e0e0 1px solid;
    height: 214px;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fc-left h2 {
    font-size: 75%;
}

.f-right {
    align-self: flex-end !important;
}

.fc-today-button{
    display: none;
}

.fc-prev-button, .fc-next-button {
    background: white !important;
    border: none !important;
    box-shadow: none !important;
}

.fc-scroller {
    overflow: hidden !important;
}


.fc-basic-view .fc-body .fc-row {
    min-height: 0 !important;
    height: 2.1em !important;
}

.fc-head-container, .fc-widget-header, .fc-widget-content {
    border: none !important;
}

.fc table {
    font-size: 10px !important;
}

.fc-day-header {
    text-align: right !important;
}

.my-agendas, .other-agendas {
    padding: 10px 10px 0 15px;
    color: grey;
}

.my-agendas {
    border-bottom: #e0e0e0 1px solid;

}

.input {
    border: none !important;
    box-shadow: none !important;
    background: #ededed !important;
    width: 199px !important;
}

.input::placeholder {
    font-size: 90%;
    color: #222 !important;
  }

.is-white {
    border-radius: 50% !important;
    margin-left: -12px;
    color: grey !important;
}

.my-calendars, .other-calendars {
    margin-left: -15px;
    margin-right: -10px;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
    height: 35px;
    align-items: center;
}

.my-calendars p, .other-calendars p {
    margin-left: 15px;
}

.my-calendars i, .other-calendars i {
    margin-right: 20px;
}

.my-calendars:hover, .other-calendars:hover {
    background: #d3d1d1;
    cursor: pointer;
}

.mine li {
    margin-bottom: 10px;
}

.other-agendas {
    padding-top: 10px;
}

.mine, .other {
    display: none; 
    color: black; 
}